.my-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 20px;
    margin: 5px;
}

.my-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: yellow;
}

/* create card with title, icon, and description */

.my-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.my-card .title {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    color: #000;
}


.my-card .icon {
    width: 80px;
    margin: 10px 0;
}

.my-card .description {
    padding-top: 20px;
    font-size: 1em;
    margin: 0;
    color: #000;
}

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    border-radius: 4px;
    background: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000000;
    margin: 10px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: rgba(0,0,0,0.1);
  }
  
  .button:active,
  .button.is-checked {
    background-color: rgba(0,0,0,0.1);
    outline: none;
  }
  
  .button-group {
    margin: 20px 0;
    text-align: center;
  }
  
  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }
  
  img {
    vertical-align: middle;
  }
  
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .grid article {
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin: 1%;
    width: 23%;
  }
  
  @media (max-width: 1024px) {
    .grid article {
      width: 31.3%;
    }
  }
  
  @media (max-width: 767px) {
    .grid article {
      width: 48%;
    }
  }
  
  @media (max-width: 479px) {
    .grid article {
      margin: 2% 0;
      width: 100%;
    }
  }